 
.btn{
    margin-right: 1rem;
}
 
.main{
    width: 100%;
}
.container{
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    /* background-color:rgb(245, 238, 229); */
}
 
body{
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: aqua; */
    /* background-image: url(background.avif); */
    /* background-size: cover; */
}
.heading1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 552px;
    font-size: 60px;
}
.hom{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
.quo p{
    text-align: center;
}
.quo button {
    text-align: center;
    margin: 2rem 9rem;
    color: whitesmoke;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 0.6rem;
    width: 400px;


}
.card{
    margin: 2px 1.2rem;
    width: 1000px;
    /* height: fit-content; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
     
}
.card .itm{
    width: 320px;
    height: 450px;
    margin: 1rem 1rem;
    /* border: 1px solid black; */
    padding: 4px;
    
   

}
.card .itm :hover{
    box-shadow: 2px 2px 4px grey;


}
.card .itm img{
    border-radius: 5px;
    width: 300px;
    height: 350px;
}
.foot{
    /* background-color: grey ; */
    height: 100px;
    margin: 1rem 0.5rem;
    
}
.ele{
    text-align: center;
    margin: 2px 1rem;
}
.ele a{
    text-decoration: none;
    text-align: center;
    margin: 4px 2rem;
    color: rgb(16, 15, 15);
    font-weight: 500;

}
.foot .copy{
    margin: 2rem;
    text-align: center;
}

